# This file lists the required Python packages for the emotion detection application.
# Install them using the command: pip install -r requirements.txt

# requirements.txt
Flask==3.0.3
Flask-Cors==4.0.1
gunicorn==22.0.0
deepface==0.0.92
opencv-python==4.9.0.80
numpy==1.26.4
SpeechRecognition==3.10.4
transformers==4.42.3
torch
pyaudio==0.2.14
pydub==0.25.1
